.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 6px;
  border-radius: 3px;
}

.app {
  background: rgb(255, 122, 17);
  background: linear-gradient(180deg, rgba(255, 122, 17, 1) 0%, rgba(255, 122, 17, 1) 20%, rgba(200, 184, 62, 1) 42%, rgba(156, 236, 252, 1) 79%, rgba(214, 238, 242, 1) 100%);
  padding: 3vw;
  min-width: 350px;
  max-width: 350px;
}

.header {
  font-size: 2em;
  font-family: Ordinary, Tahoma, Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  min-height: 2em;
  max-height: 3.8em;
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.todo-list {
  background: #ffffff;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  padding: 14px 14px;
  min-width: 300px;
  max-width: 100%;
}

.todo {
  display: grid;
  grid-template-columns: minmax(0, 9fr) 3fr;
  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 3px 10px;
  margin-bottom: 6px;
  border-radius: 3px;
  max-width: 100%;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-items {
  overflow: scroll;
  white-space: nowrap;
  padding: 5px;
}

.button-check {
  font-size: 1.6em;
  border: none;
  color: #027924;
  background-color: #ffffff;
  margin: 0.4em, 0.1em;
  padding: 0.15em;
}

.button-delete {
  font-size: 1.4em;
  font-weight: 700;
  border: none;
  color: #000000;
  background-color: #ffffff;
  margin: 0.4em, 0.1em;
  min-width: 2em;
}

.form {
  display: flex;
  align-items: center;
  margin: 1.4em 0.1em 0.6em 0.1em;
  max-height: 1.8em;
  border: 2px black;
}

.input {
  font-size: 0.8em;
  padding-left: 10px;
  flex-grow: 8;
  min-height: 25px;
}

.button-add {
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
  margin: 0;
  margin-left: 10px;
  padding: 0.35em;
  min-height: 25px;
  ;
}